<footer class="container mx-auto max-w-4xl mt-four">
    <div class="mb-one">
        <a href="https://github.com/anillkas"><strong>Github</strong></a>
        <a href="https://www.linkedin.com/in/anilkas/"><strong>Linkedin</strong></a> © 2023
    </div>
</footer>
<script src="{{ asset('prism.min.js') }}"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
        integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
        data-cf-beacon='{"rayId":"839fee045ea60071","version":"2023.10.0","r":1,"token":"2f059cbf58a24e59854ee0884c97b166","b":1}'
        crossorigin="anonymous"></script>
</body>

</html>