<!DOCTYPE html>
<html lang="tr">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="{{ asset('style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('prism-tomorrow.min.css') }}"/>
    <title>anillkas - Free Fake REST API</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


</head>
<body class="px-2">
<header class=" container
        mx-auto
        max-w-4xl
        flex flex-col
        md:flex-row justify-between py-one mb-three">
    <h1>
        <a href="/" class="font-bold no-underline">anillkas - Fake API</a>
    </h1>
    <nav>
        <ul class="flex">
            <li><a href="/guide" class="mr-4 no-underline">Guide</a></li>
            <li>
                <a href="https://linux.tc" class="mr-4 no-underline">Blog</a>
            </li>
        </ul>
    </nav>
</header>

